# Web Server
Flask
flask-cors
gunicorn

# Image Processing & Data
Pillow
numpy
pandas

# AI Model (CPU Version & Dependencies)
ultralytics
tqdm  #<-- 이 줄을 추가했습니다.
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu