# Web Server
Flask
flask-cors
gunicorn

# Image Processing & Data
Pillow
numpy
pandas

# AI Model (CPU Version for Deployment)
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu